[data-theme="dark"] {
  background-color: #2c3e50;
  color: #eee;
}

[data-theme="dark"] .bg-light {
  background-color: #333 !important;
}

[data-theme="dark"] .bg-white {
  background-color: #000 !important;
}

[data-theme="dark"] .bg-black {
  background-color: #eee !important;
}

[data-theme="dark"] .card {
  background-color: #333 !important;
  color: #eee;
}

[data-theme="dark"] hr {
  border-top: 1px solid #eee !important;
}

[data-theme="dark"] .nav-link.active {
  color: #eee !important;
  background-color: transparent !important;
  border-color: transparent;
}

[data-theme="dark"] a:hover {
  color: #eee !important;
}
