/*estilos para reloj 1280*720*/


/* #clockdate {
    position: absolute;
    top: 25.6%;
    right: 7%;
}
.clockdate-wrapper {
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    border-radius: 4px;
    padding: 0px 2px 0px 2px;
}
#clock {
    font-size: 2em;
    color: #fff;
} */


/* estilos para reloj 720*480*/

#clockdate {
    position: absolute;
    top: 124px;
    left: 591px;
}

.clockdate-wrapper {
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    border-radius: 0.2rem;
    padding: 0px 4px 0px 4px;
}

#clock {
    font-size: 1.25em;
    color: #fff;
    font-family: sans-serif;
}
